extends ../layout

block content

  main
  
    .height-container-column
      h2 Inicia Sesión
      .uk-margin
        form(action="/login" method="post" class="uk-form-stacked")
          .uk-margin
            label(class="uk-form-label uk-text-center" for="username-input") Nombre de usuario:
            .uk-form-controls
              input(class="uk-input uk-form-width-medium uk-align-center" id="username-input" type="text" placeholder="Introduce un nombre de usuario" name="username")
          .uk-margin
            label(class="uk-form-label uk-text-center" for="email-input") Correo electrónico:
            .uk-form-controls
              input(class="uk-input uk-form-width-medium uk-align-center" id="email-input" type="email" placeholder="Introduce un correo electrónico" name="email")
          .uk-margin
            label(class="uk-form-label uk-text-center" for="password-input") Contraseña:
            .uk-form-controls
              input(class="uk-input uk-form-width-medium uk-align-center" id="password-input" type="password" placeholder="Introduce una contraseña" name="password")
          .uk-margin
            button(class="uk-button uk-button-secondary" type="submit") Iniciar sesión