<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title}
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body

    nav.uk-navbar-container(uk-navbar uk-sticky="bottom: #offset")
      .uk-navbar-left
        ul.uk-navbar-nav
          li
            a(href='/') Me duele
        ul.uk-navbar-nav
          li
            a(href='/places') Lugares de Atención
          
      .uk-navbar-right
        ul.uk-navbar-nav
          li
            if user
              a(href='/home') Home
            else
              a(href='/') Home
          li
            a(href='#how-it-works') ¿Cómo funciona?
          if user
            li
              a(href='/profile') #{user.username ? user.username : 'Mi Perfil'}
              .uk-navbar-dropdown.uk-margin-remove
                ul.uk-nav.uk-navbar-dropdown-nav
                  li
                    a(href='/consultations') Mis consultas
                  li
                    a(href='/profile/preferences') Preferencias
                  li
                    a(href='/logout') Cerrar sesión
          else
            li
              a(href='/providers') Profesionales
          if user
            if user.license !== undefined
              li
                a(href='/providers/home')
                  button.uk-button.uk-button-primary.uk-border-pill Atender consulta
            else
              li
                a(href='/consultations/new')
                  button.uk-button.uk-button-primary.uk-border-pill Quiero consulta
          else
            li
              a(href='/login')
                button.uk-button.uk-button-primary.uk-border-pill Login

    block content

    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js")
    script(src="/javascripts/script.js")
    script(src="/javascripts/socket.io.js")
    //script(src="/javascripts/socket.io.js.map")
    