<!DOCTYPE html>
<html>
  <head>
    <title>Mapa de Urgencias</title>
    <link rel="stylesheet" href="map.css">
    <style>
       
       
       
    </style>
  </head>
  <body>
    <h3>Mapa de Urgencias</h3>
    <div id="style-selector-control" class="map-control">
      <input type="radio" name="show-hide" id="hide-poi"
          class="selector-control">
      <label for="hide-poi">Hide</label>
      <input type="radio" name="show-hide" id="show-poi"
          class="selector-control" checked="checked">
      <label for="show-poi">Show</label>
    </div>
    
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1P_f-l6xO2kTZ9kLIlA6gAJBbdQ07XD6k" width="640" height="480"></iframe>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyQZULACvbIVmgQZTrayngjCfKgBeGbu0"></script>
    <script type="text/javascript" src="map.js"></script>
  </body>
</html>

