extends ../layout

block content

  .height-container-column

    .uk-text-center(class='uk-child-width-expand@s', uk-grid='')
      each consultation in consultations
        .uk-card.uk-card-default.uk-card-body
          img(src=`${consultation.image_url}`, alt="")
          p #{consultation.chief_complaint}
      