extends ../layout

block content

  main

    .height-container-column
      h2 Nueva consulta
      .uk-margin
        form(action="/consultations/new" method="post" class="uk-form-stacked uk-width-1-1 uk-flex uk-flex-column" enctype="multipart/form-data")
          .uk-width-1-1.uk-flex
            .uk-width-1-2
              .uk-margin.uk-text-center
                h4 Sube tu imagen:
                .js-upload.uk-placeholder.uk-text-center
                  span(uk-icon='icon: cloud-upload')
                  span.uk-text-middle   Arrastra tu imagen a esta sección o 
                  div(uk-form-custom='')
                    input(type='file' name='image' required)
                    span.uk-link selecciona una
              .uk-margin.uk-text-center
                h4 Indicanos el tipo de tu herida o lesion:
              .uk-margin.uk-flex.uk-flex-center.uk-grid-small.uk-child-width-auto.uk-grid
                .uk-width-1-2.uk-flex.uk-flex-column.uk-flex-center
                  label
                    input.uk-radio(type='radio' name='chief_complaint' value='Cortada')
                    |  Cortada
                  label
                    input.uk-radio(type='radio' name='chief_complaint' value='Quemadura')
                    |  Quemadura
                  label
                    input.uk-radio(type='radio' name='chief_complaint' value='Erupcion')
                    |  Erupcion
                .uk-width-1-2.uk-flex.uk-flex-column.uk-flex-center
                  label
                    input.uk-radio(type='radio' name='chief_complaint' value='Lunar')
                    |  Lunar
                  label
                    input.uk-radio(type='radio' name='chief_complaint' value='Hongo')
                    |  Hongo
                  label
                    input.uk-radio(type='radio' name='chief_complaint' value='Desconocido' checked='')
                    |  Desconocido
              
            .uk-width-1-2
              .uk-margin.uk-text-center
                h4 Indicanos tus sintomas:
              .uk-margin.uk-flex.uk-flex-center.uk-grid-small.uk-child-width-auto.uk-grid
                .uk-width-1-2.uk-flex.uk-flex-column.uk-flex-center
                  label
                    input.uk-checkbox(type='checkbox' name='symptoms' value="Ardor")
                    |  Ardor
                  label
                    input.uk-checkbox(type='checkbox' name='symptoms' value="Comezon")
                    |  Comezon
                  label
                    input.uk-checkbox(type='checkbox' name='symptoms' value="Dolor")
                    |  Dolor
                  label
                    input.uk-checkbox(type='checkbox' name='symptoms' value="Piel seca")
                    |  Piel seca
                  label
                    input.uk-checkbox(type='checkbox' name='symptoms' value="Secreciones")
                    |  Secreciones
                .uk-width-1-2.uk-flex.uk-flex-column.uk-flex-center
                  label
                    input.uk-checkbox(type='checkbox' name='symptoms' value="Ampollas")
                    |  Ampollas
                  label
                    input.uk-checkbox(type='checkbox' name='symptoms' value="Granos")
                    |  Granos
                  label
                    input.uk-checkbox(type='checkbox' name='symptoms' value="Moreton")
                    |  Moreton
                  label
                    input.uk-checkbox(type='checkbox' name='symptoms' value="Sangrado")
                    |  Sangrado
                  label
                    input.uk-checkbox(type='checkbox' value="Inflamacion")
                    |  Inflamacion
              .uk-margin.uk-text-center.uk-flex.uk-flex-center.uk-flex-middle
                h4 Nivel de dolor:
                .uk-margin.uk-align-center.uk-flex.uk-flex-center.uk-width-small
                  select.uk-select(name='pain_level')
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                    option 6
                    option 7
                    option 8
                    option 9
                    option 10
              .uk-margin
                .uk-form-controls
                  input#form-stacked-text.uk-input.uk-form-width-large(type='text', placeholder='Agrega una descripcion o pregunta...' name="description")
          .uk-margin.uk-flex.uk-flex-center.uk-width-1-1
            if errorMessage
              p.uk-text-danger #{errorMessage}
            button.uk-button.uk-button-primary.uk-border-pill#new-consultation(type="submit") Solicitar consulta

